* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #12213d;
}

header {
    padding: 5em;
    background-color: #000000;
    box-shadow: 2px 2px 8px #222;
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
    align-items: center;
    justify-content: space-around;

}

.logo {
    max-width: 80px;
}

a {
    padding: 3em;
    transition: .5s;
    color: #fca311;
    text-decoration: none;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.nav {
    padding: .9em;
}

a:hover {
    color: #354c3c;
    transform: scale(1.2);
    text-decoration: underline;
}

main {
    padding-left: 16em;
    padding-right: 16em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

main>div {
    padding: .9em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 6px;
    background-color: #e5e5e5;
    box-shadow: 2px 2px 8px #222;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

main>div>h2 {
    flex: 100%;
    text-align: center;
}

main>div:nth-child(1) {
    align-self: flex-start;
}

main>div:nth-child(2) {
    align-self: flex-end;

}

main>div>img {
    padding: 20px;
    max-width: 38%;
}

main>div>p {
    padding: 2em;
    color: #12213d;
}

.links {
    margin-bottom: 20%;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.link {
    margin: .9em;
    background-color: #fca311;
    box-shadow: 2px 2px 8px #222;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.link:hover {
    border-radius: 8px;
    background-color: #e5e5e5;
}

.link>img {
    width: 120px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.services>div {
    margin: .9em;
    padding: 1em;
    background-color: #e5e5e5;
}

.serviços {
    text-align: center;
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    box-shadow: 2px 2px 8px #222;
}

footer a {
    padding: .9em;
    text-decoration: none;
}

@media (max-width:768px) {
    .serviços>img {
        max-width: 200px;
    }

    main {
        padding: 1em;
    }
}
